<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/update" th:object="${todo}" method="post">
    <input type="text" name="id" th:field="*{id}" readonly>
    <input type="text" th:field="*{content}">
    <select th:field="*{status}">
        <option value="true">Success</option>
        <option value="false">Pending</option>
    </select>
    <input type="submit" value="Update">
</form>
</body>
</html>